.banner-img{
    width: 400px;
    height: 400px;
}
.background-color{
    background-color: #FFF9F4;
}
.img-size{
    width: 310px;
    height: 310px;
}
.color{
    color: tomato;
}
.last-img{
    width: 78px;
}